[submodule "elasticsearch"]
    path = elasticsearch
    url = git://github.com/elastic/cookbook-elasticsearch.git

[submodule "apt"]
	path = apt
	url = git://github.com/chef-cookbooks/apt.git
[submodule "chef-sugar"]
	path = chef-sugar
	url = git://github.com/sethvargo/chef-sugar.git
[submodule "yum"]
	path = yum
	url = git://github.com/chef-cookbooks/yum.git
[submodule "ark"]
	path = ark
	url = git://github.com/chef-cookbooks/ark.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/chef-cookbooks/build-essential.git
[submodule "mingw"]
	path = mingw
	url = git://github.com/chef-cookbooks/mingw.git
[submodule "ohai"]
	path = ohai
	url = git://github.com/chef-cookbooks/ohai.git
[submodule "seven_zip"]
	path = seven_zip
	url = git://github.com/daptiv/seven_zip.git
[submodule "windows"]
	path = windows
	url = git://github.com/chef-cookbooks/windows.git
[submodule "java"]
	path = java
	url = git://github.com/agileorbit-cookbooks/java.git
[submodule "homebrew"]
	path = homebrew
	url = git://github.com/chef-cookbooks/homebrew.git
[submodule "systemd"]
	path = systemd
	url = git://github.com/nathwill/chef-systemd.git
[submodule "chef_nginx"]
	path = chef_nginx
	url = git://github.com/chef-cookbooks/chef_nginx.git
[submodule "compat_resource"]
	path = compat_resource
	url = git://github.com/chef-cookbooks/compat_resource.git
[submodule "yum-epel"]
	path = yum-epel
	url = git://github.com/chef-cookbooks/yum-epel.git
[submodule "zypper"]
	path = zypper
	url = git://github.com/jarosser06/chef-zypper.git
[submodule "kibana5"]
	path = kibana5
	url = git://github.com/anuriq/chef-kibana5.git
[submodule "docker"]
	path = docker
	url = git://github.com/chef-cookbooks/docker.git
[submodule "magic"]
	path = magic
	url = git://github.com/sczizzo/magic-cookbook.git
[submodule "zookeeper"]
	path = zookeeper
	url = git://github.com/evertrue/zookeeper-cookbook.git
[submodule "packagecloud"]
	path = packagecloud
	url = git://github.com/computology/packagecloud-cookbook.git
[submodule "runit"]
	path = runit
	url = git://github.com/chef-cookbooks/runit.git
[submodule "kafka"]
	path = kafka
	url = git://github.com/mthssdrbrg/kafka-cookbook.git
